<%= button_to rooms_directs_path(user_ids: [ user.id ]), class: "direct borderless fill-transparent unpad" do %>
  <% status = user.display_status_for(Current.user) %>
  <span class="avatar <%= "avatar--#{status}" if status %>">
    <%= image_tag fresh_user_avatar_path(user), aria: { hidden: "true" } %>
    <% if status %><span class="avatar__status"></span><% end %>
  </span>

  <span class="direct__author flex align-center gap max-width min-width border-radius txt-small">
    <span class="txt-nowrap overflow-ellipsis">
      <span class="for-screen-reader">Start a ping with</span>
      <%= user.name.split(' ')[0] %>
    </span>
  </span>
<% end %>
