<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <meta name="current-room-id" content="<%= @room&.id %>">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag :all, "data-turbo-track": "" %>
  </head>
  <body class="chat-embed">
    <%= yield %>
  </body>
</html>
